<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Aquarius.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Aquarius (January 20 – February 18)</h2>
      <ul>
        <li><strong>Strength:</strong> Aquarians are known for their innovative thinking, humanitarian values, and visionary ideas.</li>
        <li>They possess a deep sense of empathy and compassion, with a strong desire to make the world a better place for all.</li>
        <li>Aquarians are forward-thinking and progressive, always seeking new ways to promote positive change and social justice.</li>
        <li>With their intellect and creativity, Aquarians excel in problem-solving and generating innovative solutions to complex issues.</li>
        <li>They are natural leaders and activists, inspiring others to join them in their quest for a brighter future.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> However, Aquarius's detached nature and eccentric behavior can sometimes lead to feelings of alienation and isolation.</li>
        <li>They may struggle to connect with others on an emotional level, preferring intellectual stimulation over intimate relationships.</li>
        <li>Aquarians' rebellious streak and disregard for convention can also create tension and conflict in social settings, as they may clash with authority figures or traditional norms.</li>
        <li>Learning to balance their idealism with practicality and cultivate deeper connections with others can help Aquarius foster more meaningful and fulfilling relationships.</li>
      </ul>
      
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
