<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Aries.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Aries (March 21 – April 19)</h2>
      <ul>
        <li><strong>Strength:</strong> Aries individuals possess an indomitable spirit and an unwavering drive to achieve their goals.</li>
        <li>Their competitive nature fuels their ambition, propelling them to excel in all endeavors they undertake.</li>
        <li>They fearlessly embrace challenges, viewing obstacles as opportunities for growth and success.</li>
        <li>With their boundless energy and enthusiasm, Aries inspires those around them to push beyond their limits and reach for greatness.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> However, beneath their confident exterior, Aries may struggle with moments of self-doubt and insecurity.</li>
        <li>Their intense desire to be the best can sometimes lead to impatience and frustration when faced with setbacks or criticism.</li>
        <li>It's essential for Aries to cultivate self-awareness and practice self-compassion.</li>
        <li>Recognizing that vulnerability is not a sign of weakness but a facet of their humanity that adds depth to their character.</li>
      </ul>
      
    </article>

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
