<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Cancer.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Cancer (June 21 – July 22)</h2>
      <ul>
        <li><strong>Strength:</strong> Cancer individuals are deeply empathetic and nurturing, with an innate ability to intuitively understand the emotions of others.</li>
        <li>They create warm and welcoming environments, where loved ones feel safe and supported.</li>
        <li>Cancer's sensitivity and compassion allow them to forge deep and meaningful connections, fostering bonds that withstand the test of time.</li>
        <li>With their protective instincts and nurturing nature, Cancer provides a shoulder to lean on and a listening ear in times of need.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> Despite their nurturing tendencies, Cancer may struggle with vulnerability and emotional expression.</li>
        <li>They have a tendency to retreat into their shells when overwhelmed or hurt, making it challenging for others to reach out and offer support.</li>
        <li>Cancer may also grapple with mood swings and insecurity, as they navigate the ebb and flow of their emotions.</li>
        <li>Learning to communicate openly and seek assistance when needed can help Cancer cultivate healthier coping mechanisms and strengthen their relationships.</li>
      </ul>
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
