<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Gemini.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Gemini (May 21 – June 20)</h2>
      <ul>
        <li><strong>Strength:</strong> Gemini individuals possess a versatile and adaptable nature, allowing them to thrive in diverse social and professional settings.</li>
        <li>They are natural communicators, adept at expressing themselves with wit, charm, and intelligence.</li>
        <li>Gemini's curiosity knows no bounds, driving them to explore a wide range of interests and ideas.</li>
        <li>With their quick-thinking minds and agile intellect, Gemini excels in problem-solving and creative endeavors, bringing innovation and ingenuity to any situation.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> However, Gemini's versatility can sometimes manifest as restlessness and indecision.</li>
        <li>Their tendency to flit from one interest to another may lead to a lack of follow-through and commitment.</li>
        <li>Gemini may struggle with maintaining focus and completing tasks, as they are easily distracted by new and exciting opportunities.</li>
        <li>Cultivating discipline and prioritizing goals can help Gemini channel their energy more effectively and achieve long-term success.</li>
      </ul>
      
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
