<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Leo.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Leo (July 23 – August 22)</h2>
      <ul>
        <li><strong>Strength:</strong> Leos exude confidence, charisma, and boundless enthusiasm, making them natural leaders and influencers.</li>
        <li>They thrive in the spotlight, captivating audiences with their magnetic personality and infectious energy.</li>
        <li>With their creative flair and dramatic flair, Leos are adept at turning their visions into reality, leaving a lasting impression wherever they go.</li>
        <li>Their generosity and warmth make them generous and loyal friends, always ready to offer support and encouragement to those they care about.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> However, Leo's desire for recognition and admiration can sometimes veer into arrogance and self-centeredness.</li>
        <li>They may become overly fixated on their own needs and desires, neglecting the feelings and perspectives of others.</li>
        <li>Leo's need for validation can also make them vulnerable to flattery and manipulation, leading to conflicts and misunderstandings in relationships.</li>
        <li>Cultivating humility and empathy can help Leo strike a balance between self-confidence and consideration for others.</li>
      </ul>
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
