<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Libra.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Libra (September 23 – October 22)</h2>
      <ul>
        <li><strong>Strength:</strong> Libra individuals are natural diplomats and peacemakers, with a keen sense of fairness and justice.</li>
        <li>They excel in creating harmonious relationships and resolving conflicts with tact and diplomacy.</li>
        <li>Libras are adept at seeing both sides of a situation, allowing them to find common ground and facilitate compromise.</li>
        <li>With their charm and social grace, Libras foster connections and build bridges between diverse groups, promoting cooperation and understanding.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> However, Libra's desire for harmony and approval can sometimes lead to indecision and people-pleasing behavior.</li>
        <li>They may avoid confrontation at all costs, sacrificing their own needs and desires to maintain peace and harmony in their relationships.</li>
        <li>Libras may struggle with asserting themselves and setting boundaries, fearing rejection or conflict.</li>
        <li>Learning to prioritize their own well-being and communicate assertively can help Libra cultivate healthier relationships and develop a stronger sense of self.</li>
      </ul>
      
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
