<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Sagittarius.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Sagittarius (November 22 – December 21)</h2>
      <ul>
        <li><strong>Strength:</strong> Sagittarians are adventurous, optimistic, and endlessly curious, with an insatiable thirst for knowledge and experience.</li>
        <li>They possess an adventurous spirit and a love of freedom, constantly seeking new horizons and expanding their horizons.</li>
        <li>Sagittarians are natural explorers and philosophers, eager to explore the world and ponder life's big questions.</li>
        <li>With their infectious enthusiasm and boundless energy, Sagittarians inspire others to embrace life's adventures and pursue their dreams with gusto.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> However, Sagittarius's spontaneous nature and tendency to avoid commitments can sometimes lead to restlessness and irresponsibility.</li>
        <li>They may struggle with discipline and follow-through, preferring to follow their whims and impulses rather than adhere to schedules and obligations.</li>
        <li>Sagittarians' blunt honesty and lack of tact can also hurt the feelings of others, leading to conflicts and misunderstandings in relationships.</li>
        <li>Learning to balance spontaneity with responsibility and cultivate empathy and sensitivity can help Sagittarius develop deeper and more meaningful connections with others.</li>
      </ul>
      
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
