<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Scorpio.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Scorpio (October 23 – November 21)</h2>
      <ul>
        <li><strong>Strength:</strong> Scorpios are known for their intense passion, unwavering determination, and magnetic presence.</li>
        <li>They possess a deep understanding of human psychology and are skilled at navigating the complexities of emotions.</li>
        <li>Scorpios are fiercely loyal and protective of their loved ones, willing to go to great lengths to defend and support them.</li>
        <li>With their sharp intuition and perceptive nature, Scorpios are adept at uncovering hidden truths and uncovering underlying motives, making them formidable allies and formidable adversaries.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> However, Scorpio's intense emotions and secretive nature can sometimes lead to issues of trust and control in relationships.</li>
        <li>They may struggle to open up and express vulnerability, fearing betrayal or rejection.</li>
        <li>Scorpios' tendency to hold onto grudges and seek revenge can also create conflicts and resentments, undermining the trust and intimacy in their relationships.</li>
        <li>Learning to let go of past hurts and communicate openly and honestly can help Scorpio foster healthier and more fulfilling connections.</li>
      </ul>
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
