<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="static/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Taurus (April 20 – May 20)</h2>
      <ul>
        <li><strong>Strength:</strong> Taurus individuals are renowned for their steadfast loyalty and unwavering commitment to their loved ones.</li>
        <li>They provide a stable and supportive presence, always ready to lend a helping hand or a sympathetic ear.</li>
        <li>With their practicality and determination, Taurus tackles challenges methodically, ensuring that tasks are completed with precision and care.</li>
        <li>Their resilience and reliability make them invaluable assets in both personal and professional relationships.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> Despite their many strengths, Taurus's stubbornness can sometimes be a double-edged sword.</li>
        <li>While their persistence enables them to persevere in the face of adversity, it can also lead to rigidity and inflexibility.</li>
        <li>Taurus may find it challenging to adapt to change or consider alternative perspectives, resulting in missed opportunities for growth and development.</li>
        <li>Learning to embrace flexibility and openness can help Taurus navigate life's twists and turns more gracefully.</li>
      </ul>
      
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
