<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Strengths and Weaknesses - Cosmic Cupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Virgo.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/photos/logo-no-background.png" alt="Cosmic Cupid Logo">
    </div>
    <h1>Cosmic Cupid</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('test') }}">Compatibility Analysis</a></li>
        <li><a href="{{ url_for('profile') }}">Zodiac-pedia</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
      </ul>
    </nav>
  </header>

  <section id="zodiac-signs">
    <article>
      <h2>Virgo (August 23 – September 22)</h2>
      <ul>
        <li><strong>Strength:</strong> Virgo individuals are known for their meticulous attention to detail and impeccable organizational skills.</li>
        <li>They possess a sharp intellect and analytical mind, allowing them to excel in tasks that require precision and accuracy.</li>
        <li>Virgos are diligent workers who take pride in their craftsmanship, striving for excellence in everything they do.</li>
        <li>With their practicality and pragmatism, Virgos are reliable problem-solvers, capable of finding practical solutions to complex challenges.</li>
      </ul>
      <ul>
        <li><strong>Weakness:</strong> Despite their many strengths, Virgo's perfectionism can sometimes become a source of stress and anxiety.</li>
        <li>They may be overly critical of themselves and others, fixating on minor flaws and imperfections.</li>
        <li>Virgo's high standards can lead to feelings of inadequacy and self-doubt, as they constantly strive for unattainable perfection.</li>
        <li>Learning to embrace imperfection and practice self-compassion can help Virgo alleviate unnecessary pressure and find greater peace of mind.</li>
      </ul>
      
      
    </article>

    <!-- Add other zodiac signs in similar article elements -->

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <p>&copy; 2024 Cosmic Cupid. All rights reserved.</p>
  </footer>
</body>
</html>
